Checks: >
  *-,

  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-forwarding-reference-overload,
  -bugprone-unhandled-self-assignment,

  -clang-analyzer-core.*,
  -clang-analyzer-cplusplus.PlacementNew,

  cert-*,
  -cert-oop54-cpp,
  -cert-err58-cpp,

  concurrency-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-rvalue-reference-param-not-moved,

  hicpp-*,
  -hicpp-deprecated-headers,
  -hicpp-exception-baseclass,
  -hicpp-explicit-conversions,
  -hicpp-function-size,
  -hicpp-no-array-decay,
  -hicpp-no-assembler,
  -hicpp-noexcept-move,
  -hicpp-signed-bitwise,

  misc-*,
  -misc-const-correctness,
  -misc-no-recursion,
  -misc-redundant-expression,
  -misc-unconventional-assign-operator,
  -misc-use-anonymous-namespace,
  -misc-include-cleaner,

  modernize-*,
  -modernize-deprecated-headers,
  -modernize-use-std-print,

  performance-*,
  -performance-no-int-to-ptr,
  -performance-noexcept-move-constructor,

  readability-*,
  -readability-container-size-empty,
  -readability-function-cognitive-complexity,
  -readability-suspicious-call-argument,
  -readability-function-size,
  -readability-identifier-naming,
  -readability-identifier-length,

  -*-avoid-c-arrays,
  -*-magic-numbers,
  -*-member-init,
  -*-noexcept-destructor,
  -*-noexcept-swap,
  -*-non-private-member-variables-in-classes,
  -*-use-equals-default,
  -*-special-member-functions,
  -*-vararg

WarningsAsErrors: "*"
FormatStyle: none
CheckOptions:
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true
  - key: readability-identifier-naming.LocalVariableCase
    value: camelBack
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMethodCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
