# SPDX-License-Identifier: BSL-1.0
# SPDX-FileCopyrightText: Copyright (C) 2019 Tobias Hienzsch

# EDITORS
.vs
.vscode
.atom
.idea

# PROJECT
/build/
/build-*/
/build_*/
/cmake-build-*
/out
/docs/_build*
3rd_party

# C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Python
venv
.venv
.env
